.console {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 800;
  line-height: 16px;
  display: inline-block;
  padding: 5px 5px;
  background-color: black;
  border: solid orange 1px; }

.tile, .green, .yellow, .white, .gray, .cyan {
  display: inline-block;
  width: 14px;
  height: 14px; }

.green {
  color: green; }

.yellow {
  color: yellow; }

.white {
  color: white; }

.gray {
  color: gray; }

.cyan {
  color: cyan; }
