.console {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 800;
  line-height: 18px;
  display: inline-block;
  padding: 5px 5px;
  background-color: black;
  border: solid orange 1px; }

.row {
  padding: 0;
  border: 0;
  margin: 0;
  height: 18px; }
  .row .tile, .row .green, .row .yellow, .row .white, .row .gray, .row .cyan, .row .orange, .row .coral, .row .darkgray, .row .red, .row .brown {
    display: inline-block;
    text-align: center;
    width: 16px; }

.map-joueur {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 3px;
  font-style: normal;
  font-variant: normal;
  font-weight: 800;
  line-height: 3px;
  display: inline-block;
  padding: 0px 0px;
  background-color: black;
  border: solid orange 1px; }
  .map-joueur .tile, .map-joueur .green, .map-joueur .yellow, .map-joueur .white, .map-joueur .gray, .map-joueur .cyan, .map-joueur .orange, .map-joueur .coral, .map-joueur .darkgray, .map-joueur .red, .map-joueur .brown {
    width: 3px; }

.green {
  color: #daf7a6; }

.yellow {
  color: yellow; }

.white {
  color: white; }

.gray {
  color: #d0d3d4; }

.cyan {
  color: cyan; }

.orange {
  color: orange; }

.coral {
  color: coral; }

.darkgray {
  color: #406060; }

.red {
  color: #aa4040; }

.brown {
  color: #a04000; }
