$size: 18px;
.console {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter",
    "Lucida Typewriter", monospace;
  font-size: $size;
  font-style: normal;
  font-variant: normal;
  font-weight: 800;
  line-height: $size;
  display: inline-block;
  padding: 5px 5px;

  background-color: black;
  border: solid orange 1px;
}

.row {
  padding: 0;
  border: 0;
  margin: 0;
  height: $size;
  .tile {
    display: inline-block;
    text-align: center;
    width: 16px;
  }
}

.loose {
  z-index: 1000;
  height: 100%;
  width: 100%;
  background-color: red;
  opacity: 0.5;
  z-index: 1000;
  position: absolute;
  top: 0;

  .texte {
    opacity: 1;
    position: absolute; /* postulat de départ */
    top: 50%;
    left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
  }
}

$sizeMap: 3px;
.map-joueur {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter",
    "Lucida Typewriter", monospace;
  font-size: $sizeMap;
  font-style: normal;
  font-variant: normal;
  font-weight: 200;
  line-height: $sizeMap;
  display: inline-block;
  padding: 5px 5px;

  background-color: black;
  border: solid orange 1px;
  .tile {
    height: $sizeMap;
    width: $sizeMap;
    display: inline-block;
    text-align: center;
  }
}

.green {
  @extend .tile;

  color: #daf7a6;
}

.yellow {
  @extend .tile;
  color: yellow;
}

.white {
  @extend .tile;
  color: white;
}

.gray {
  @extend .tile;
  color: #d0d3d4;
}

.cyan {
  @extend .tile;
  color: cyan;
}

.orange {
  @extend .tile;
  color: orange;
}

.coral {
  @extend .tile;
  color: coral;
}

.darkgray {
  @extend .tile;
  color: #406060;
}

.blood {
  @extend .tile;
  color: #aa4040;
}

.brown {
  @extend .tile;
  color: #a04000;
}
