.console {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: "24px";
  font-style: normal;
  font-variant: normal;
  font-weight: 800;
  line-height: "24px";
  display: inline-block;
  padding: 5px 5px;
  background-color: black;
  border: solid orange 1px; }

.map-joueur {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 3px;
  font-style: normal;
  font-variant: normal;
  font-weight: 800;
  line-height: 3px;
  display: inline-block;
  padding: 0px 0px;
  background-color: black;
  border: solid orange 1px; }

.tile, .green, .yellow, .white, .gray, .cyan, .darkgray {
  display: inline-block; }

.green {
  color: green; }

.yellow {
  color: yellow; }

.white {
  color: white; }

.gray {
  color: gray; }

.cyan {
  color: coral; }

.darkgray {
  color: #303030; }
