$buttonSize: 20px;
$directionSize: 15px;
$paddleColor: Gainsboro;

.pad {
  background-color: black;
  display: block;
  .pad-container {
    position: relative;
    .pad-block-left {
      position: absolute;
      left: 0;
      z-index: 0;
      background-color: $paddleColor;
      width: 20%;
      border-radius: 50% 0 0 50%;
      height: 100%;
    }
    .pad-block-right {
      position: absolute;
      right: 0;
      z-index: 0;
      background-color: $paddleColor;
      width: 20%;
      border-radius: 0 50%  50% 0;
      height: 100%;
    }
    .pad-block-center {
      // display: none;
      position: absolute;
      left: 0;
      z-index: 0;
      margin-left: 20%;
      background-color: $paddleColor;
      width: 60%; 
      height: 100%;
    }

    background-color: transparent;
    border-radius: 50%;
    padding: 10px 10px;
    border-radius: 2px 2px;
    display: flex;
    flex-direction: row;
    .pad-cross {
      z-index: 1;
      margin-top: 10%;
      display: inline-block;
      padding: 10px 10px;
      height: 45px;
      background-color: dimgrey;
      border-radius: 50%;

      .pad-row {
        margin: 0;
        padding: 0;
        height: $directionSize;
        .blank {
          display: inline-block;
          width: $directionSize;
          height: $directionSize;
          background-color: transparent;
        }
        .direction {
          display: inline-block;
          width: $directionSize;
          height: $directionSize;
          background-color: black;
          cursor: pointer;
          &:hover {
            background-color: darkgoldenrod;
          }
          &:focus {
            outline: darkred solid 1px;
          }
        }

        .center {
          display: inline-block;
          width: $directionSize;
          height: $directionSize;
          background-color: black;
        }
      }
    }
    .pad-center-bloc {
      height: 100%;
      width: 50px;
    }
    .pad-buttons {
      z-index: 1;
      margin-top: 10%;
      background-color: darkgray;
      padding: 5px 5px;
      border-radius: 50%;
      height: 70px;
      width: 70px;
      .pad-row-button {
        margin: 0;
        padding: 0;
        height: $buttonSize;
        padding: 3px 0 0 3px;
        .button-blank {
          display: inline-block;
          width: $buttonSize;
          height: $buttonSize;
          background-color: transparent;
        }
        .pad-button {
         
          display: inline-block;
          width: $buttonSize;
          height: $buttonSize;
          border-radius: 50%;
          font-size: 6px;
          text-align: center;
          color: snow;

          &.red {
            background-color: red;
          }

          &.blue {
            background-color: blue;
          }

          &.green {
            background-color: green;
          }

          &.yellow {
            background-color: gold;
          }

          cursor: pointer;
          &:hover {
            background-color: darkgoldenrod;
          }
          &:focus {
            outline: darkred solid 1px;
          }
        }
      }
    }
  }
}
