@mixin preRender {
  background-color: transparent;
  color: white;
  overflow-y: auto;
  // overflow-x: visible;

  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word;

  margin: 0;
}

@mixin scrollbar() {
  &::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: goldenrod;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: gold;
  }
}

body {
  background-color: black;
}

.game {
  display: inline-block;
  background-color: #19070b;
  .player-console {
    @include preRender();
    height: 18px;
    background-color: transparent;
    width: 100%;

    .label {
      margin: 0 2px 0 12px;
      color: gold;
    }

    .value {
      &.blue {
        color: DodgerBlue;
      }
    }
  }
  .game-row {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    .game-screen {
      font-size: 12px;
      line-height: 12px;
      font-family: Consolas, monaco, monospace;
      background-color: transparent;
      @include preRender();
      overflow: visible;
      .game-screen-row {
        .game-screen-tile {
          display: inline-block;
          cursor: pointer;
          &:hover {
            background-color: rgba(255, 200, 0, 0.4) !important;
          }
        }
      }
    }

    .action-console {
      // @include preRender();
      width: 350px;
      padding: 2px 2px;
      font-size: 14px;
      color: yellow;
      .message {
        &.active {
          color: black;
          background-color: LightYellow;
        }
      }

      font-family: "Comic Sans MS", cursive;
      overflow-y: auto;
    }
    .game-paddle {
      float: left;
      background-color: transparent;
    }
  }

  .console-log {
    @include scrollbar();
    font-family: "Comic Sans MS", cursive;
    overflow-y: auto;
    font-size: 14px;

    .console-log-prompt {
      margin-right: 3px;
    }

    height: 150px;
  }
}
