.game {
    display: flex;
    flex-direction: row;
  .game-screen {
    font-size: 12px;
    line-height: 12px;
    font-family: Consolas, monaco, monospace;
    background-color: black;
  }

  .action-console {
    width: 200px;
    height: 200px;
    background-color: black;
    color: white;
    overflow-y: auto;
  }
}
